@model Tuple<string, ICollection<Clockwork.Vault.Dao.Models.Tidal.TidalArtist>>

@if (!Model.Item2.Any())
{
    return;
}

<h2>@Model.Item1</h2>
<ul>
    @foreach (var artist in Model.Item2)
    {
        <li>@Html.ActionLink(artist.Name, "Artists", "Tidal", new { id = artist.Id }, null)</li>
    }
</ul>
