body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background: #202020;
}

header,
footer,
div#main {
    width: 800px;
    margin: auto;
    border: 1px solid #e4e4e4;
    padding: 10px;
    background: rgb(255, 214, 67);
    color: #202020;
}

    header a,
    footer a,
    div#main a {
        color: #202020;
    }

        header a:active, header a:hover,
        footer a:active, footer a:hover,
        div#main a:active, div#main a:hover {
            background: #202020;
            color: rgb(255, 214, 67);
        }

p, h1, h2, h3, h4, h5, h6, ul, ol, menu {
    margin: 3px;
}

    menu#main-menu {
        padding: 0;
    }

        menu#main-menu ul {
            padding: 0;
        }

        menu#main-menu > ul > li {
            list-style-type: none;
        }

            menu#main-menu > ul > li > ul > li {
                list-style-type: none;
                margin-left: 10px;
            }

                menu#main-menu > ul > li > ul > li:before {
                    content: '- ';
                }

table th {
    text-align: left;
}

table td {
    vertical-align: top;
}

table tr:nth-child(odd) td {
    background: rgb(202, 202, 202);
}
table tr:nth-child(even) td {
    background: rgb(162, 162, 162);
}

/*
    rgb(188, 209, 178) pale green
    rgb(187, 179, 132) sand
    rgb(229, 185, 110) pale yellow
    rgb(171, 90, 61) brown
*/
