<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tidal.username" value=""/>
    <add key="tidal.password" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MyDb" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>